<div class="title-container">
    <img src="/assets/logo.png" alt="Titre" class="title-image">
  </div>
  <div class="buttons-container">
    <a routerLink="/guess-character" class="game-button">Devine le personnage</a>
    <a routerLink="/leader-skill" class="game-button">Devine le Leader Skill</a>
    <a routerLink="/passive" class="game-button">Devine le Passif</a>
    <a routerLink="/silhouette" class="game-button">Devine la Silhouette</a>
    <a routerLink="/daily" class="game-button">Mode Quotidien</a>
  </div>